h4 {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.colors {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 15px;

	.wrapper_color {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #dadada;
		border-radius: 50%;
		height: 32px;
		width: 32px;

		&:hover {
			border: 1px solid #303030;
			cursor: pointer;
			transition: all 0.3s;
		}

		.color {
			height: 24px;
			width: 24px;
			border-radius: 50%;
		}
	}
}
