.wrapper {
	.title {
	}

	.tabs {
		display: flex;
		align-items: center;
		gap: 10px;

		.active {
			width: 100%;
			height: 45px;
			border-radius: 22px;
			border: none;
			padding-left: 20px;
			padding-right: 20px;
			background-color: #303030;
			color: #fff;
		}

		.wrapper_tabs {
			.tabs_button {
				width: 100%;
				height: 45px;
				border-radius: 22px;
				border: none;
				padding-left: 20px;
				padding-right: 20px;

				&:not(.active):hover {
					background-color: #dddddd;
					transition: all 0.3s;
					cursor: pointer;
				}

				p {
					font-size: 14px;
					font-weight: 500;
					font-family: 'Montserrat', sans-serif;
				}
			}
		}
	}
}
