.wrapper {
	.button {
		width: 200px;
		height: 54px;
		font-size: 14px;
		background-color: #303030;
		color: #ffffff;
		border-radius: 0;
		border: none;
		text-transform: uppercase;
		font-family: 'Montserrat', sans-serif;

		&:hover {
			background-color: #000;
			color: #fff !important;
		}
	}
}
