.wrapper {
	.menu {
		display: flex;
		align-items: center;
		justify-content: space-around;
		list-style: none;
		width: 930px;

		.menu_item {
			&:hover {
				opacity: 0.5;
				cursor: pointer;
				transition: all 0.3s;
			}
		}
	}
}
