.wrapper {
	.title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 60px;

		h2 {
			font-size: 32px;
			font-weight: 600;
		}

		.delete_all_products {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
			color: #b6b6b6;

			&:hover {
				transition: all 0.3s;
				cursor: pointer;
				color: #303030;
			}

			p {
				font-size: 16px;
			}
		}
	}

	.wrapper_product {
		.product {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #f4f4f4;
			border-bottom: 1px solid #f4f4f4;
			padding-top: 20px;
			padding-bottom: 20px;

			.product_img {
				margin-right: 20px;
			}

			.product_description {
				.product_title {
					width: 420px;
					margin-bottom: 30px;

					h4 {
						font-size: 26px;
						text-transform: none;
						font-weight: 400;
					}
				}

				.product_info {
					display: flex;

					.wrapper_info {
						margin-bottom: 15px;

						.product_size {
							margin-right: 140px;
							margin-bottom: 5px;

							p {
								font-size: 18px;
								color: #8d8d8d;

								span {
									color: #303030;
									margin-left: 10px;
								}
							}
						}

						.product_in_stock {
							p {
								font-size: 18px;
								color: #8d8d8d;

								span {
									color: #303030;
									margin-left: 10px;
									margin-right: 10px;
								}
							}
						}
					}

					.sales {
						display: flex;
						align-items: center;
						gap: 10px;

						.sales_text {
							p {
								font-size: 18px;
							}
						}

						.sales_tags {
							display: flex;
							align-items: center;
							justify-content: center;
							height: 28px;
							width: 47px;
							background-color: #ffecec;
							color: #ff4611;
							border-radius: 4px;
							font-weight: 600;

							span {
								font-size: 16px;
							}
						}
					}
				}

				.rating {
				}
			}

			.product_buttons {
				display: flex;
				align-items: center;
				margin-left: 50px;

				.buttons_minus {
					button {
						height: 45px;
						width: 45px;
						border: 2px solid #fe5f1e;
						background-color: transparent;
						border-radius: 50%;
						font-size: 26px;
						color: #fe5f1e;

						&:hover {
							transition: all 0.3s;
							cursor: pointer;
							opacity: 0.5;
						}
					}
				}

				.product_quantity {
					margin-left: 25px;
					margin-right: 25px;

					span {
						font-weight: 600;
						font-size: 30px;
					}
				}

				.buttons_plus {
					button {
						height: 45px;
						width: 45px;
						border: 2px solid #fe5f1e;
						background-color: transparent;
						border-radius: 50%;
						font-size: 29px;
						color: #fe5f1e;

						&:hover {
							transition: all 0.3s;
							cursor: pointer;
							opacity: 0.5;
						}
					}
				}
			}

			.product_price {
				.oldPrice {
					p {
						font-size: 16px;
						color: #7a7a7a;
						font-weight: 400;

						span {
							margin-left: 10px;
							text-decoration: line-through;
						}
					}
				}

				.newPrice {
					p {
						font-size: 30px;
						font-weight: 600;

						span {
							margin-left: 10px;
						}
					}
				}
			}

			.product_delete_product {
				margin-left: 20px;

				button {
					height: 45px;
					width: 45px;
					border-radius: 50%;
					border: 1px solid #303030;
					background-color: transparent;

					&:hover {
						cursor: pointer;
						transition: all 0.3s;
						opacity: 0.5;
					}

					p {
						font-size: 20px;
						color: #303030;
					}
				}
			}
		}
	}

	.actions {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 30px;

		.total_price {
			margin-bottom: 10px;

			p {
				font-size: 20px;
				font-weight: 600;

				span {
					font-weight: 600;
					margin-left: 10px;
					margin-right: 10px;
					color: #fe5f1e;
				}
			}
		}

		.button_pay {
			button {
				width: 345px;
				height: 75px;
				border: none;
				background-color: #303030;
				color: #fff;

				&:hover {
					cursor: pointer;
					opacity: 0.9;
					transition: all 0.3s;
				}

				p {
					font-size: 14px;
					font-family: 'Montserrat', sans-serif;
					text-transform: uppercase;
				}
			}
		}
	}
}
