.form {
	max-width: 300px;
}

.remember {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login_button {
	width: 100%;
}

.button_login {
	margin-top: 10px;
	border: none;
	background-color: transparent;
	margin-left: 5px;
	color: #1890ff;
	cursor: pointer;
}
