.wrapper {
	margin-top: 15px;
	margin-bottom: 40px;

	h4 {
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.size {
		display: flex;
		align-items: center;
		gap: 5px;

		.size_button {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 32px;
			width: 50px;
			border: 1px solid #dadada;
			transition: all 0.3s;

			&:hover {
				cursor: pointer;
				background-color: #303030;

				color: #fff;
			}
		}

		p {
			font-size: 14px;
		}
	}
}
