.wrapper {
	.wrapper_product {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.left {
		}

		.img_product {
		}
	}

	.right {
		.sizes {
			margin-top: 20px;
		}

		.rating {
			margin-bottom: 24px;
		}

		.title {
			margin-bottom: 20px;

			h3 {
				font-size: 32px;
				font-weight: 400;
			}
		}

		.number_product {
			margin-bottom: 30px;

			span {
				font-size: 14px;
				font-weight: 400;
				color: #8f8f8f;
			}
		}

		.price {
			display: flex;
			align-items: center;
			gap: 20px;
			margin-bottom: 30px;

			.newPrice {
				font-size: 20px;
				font-weight: 600;
			}

			.oldPrice {
				font-size: 16px;
				font-weight: 400;
				color: #8f8f8f;
				text-decoration: line-through;
			}

			.sales {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 21px;
				background-color: #e24b33;
				color: #fff;
				border-radius: 15px;
				font-size: 13px;
				font-weight: 500;
			}
		}

		.separator {
			width: 100%;
			height: 1px;
			background-color: #f0f0f0;
			margin-bottom: 30px;
		}
	}
}
